.stunning{
    text-align: center;
    padding: 7px;
    word-spacing: 70px;
    margin: 0px;
    padding: 20px;
    transform: (1.04);
    background-color: aqua;
    color: chartreuse;
}
header .button{
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
    float: center ;
    padding-left: 15px;
    transform: 0.2s esse;
    margin: 0px;
}
head .immage{
    height: 20%;
}
.photo {
   width: 50%;
   text-align: center;
    display: flex;
    align-items: flex-end;
    float: right;
    width: 50%;
    height: 100%;
    padding: 25px;
}
.ending{
    margin: 130px;
   text-align: center;
   word-spacing: 30px;
   border-radius: 20px;
   color: white;
   padding: 2px;
   border: 5px solid blue;
   box-sizing: content-box;
    
}
.class{
   word-spacing: 10px;
}
ul img{
    width: 1%;
    height: 1%;
    border-radius: 3%;
    border: 2px;
}
ul label{
    word-spacing: 20px;
    border-radius: 20px;
    transition: 3ms ease;
    border: 3px solid black;
    width: 2px;
    height: 5px;
    background-color: aqua;
    color: 3px solid blue;
    text-align: center;
    padding: 5px;
}
.u1 img{
    width: 80px;
    height: 30px;
}
header .img{
    width: 80px;
    height: 30px;
    padding: 5px;
}
.logo img{
    width: 80px;
    height: 30px;
}
.stunning img{
    width: 80px;
    height: 30px;
    float: left;
}
.right{
    right: 30px;
}
*{
    padding: 0;
    box-sizing: content-box;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}
.radiot:hover{
    transform: 5px;
}